.messages {
    width: 450px;
    list-style: none;
    padding: 0;
    margin: 0;
  
    li {
      margin-bottom: 10px;
  
      .message-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
  
        .message-data-name {
          font-weight: bold;
        }
  
        .message-data-time {
          color: #777;
          font-size: 0.8em;
        }
      }
  
      .message {
        padding: 10px;
        border-radius: 10px;
        background-color: #e4c1ff;
  
        &.my-message {
          align-self: flex-end;
          background-color: #a364ff;
          color: #fff;
        }
      }
  
      .response-message {
        padding: 10px;
        border-radius: 10px;
        background-color: #cb80ff;
        color: #fff;
      }
  
      .typing {
        .message {
          animation: typing 2s infinite;
  
          &.my-message {
            background-color: #007bff;
          }
        }
      }
    }
  }